.heading-tertiary {
  font-size: 1.5rem;
}
.text-secondary {
  font-size: 1.2rem;
  color: var(--color-text-secondary);
}

.text-main {
  font-weight: bold;
  font-size: 1.5rem;
}
.text-tertiary {
  font-size: 1rem;
  color: var(--color-text-secondary);
  letter-spacing: 0.1rem;
}
